name: Dimagi Pytest Automation Suite

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  web-tests:
    name: Web Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Allure
      run: |
        sudo apt-get update
        sudo apt-get install -y allure

    - name: Run Web Tests
      run: |
        pytest -v tests/web_tests --alluredir=tests/web_tests/reports/allure-results

    - name: Generate Web Allure Report
      run: |
        allure generate tests/web_tests/reports/allure-results -o reports/allure-report --clean

    - name: Upload Web Allure Report
      uses: actions/upload-artifact@v4
      with:
        name: web-tests-allure-report
        path: reports/allure-report

    - name: Notify Slack
      if: always()
      uses: slackapi/slack-github-action@v2.1.1
      with:
        channel-id: 'C0A1U93R4LU'   #Slack Channel ID
        text: |
          *DIMAGI Automation Suite - Web Tests*
          *Job:* `${{ job.name }}`
          *Workflow:* `${{ github.workflow }}`
          *Repository:* `${{ github.repository }}`
          *Branch:* `${{ github.ref_name }}`
          
          *Status:* `${{ job.status }}`
          
          *Download Allure Report:* `${{ github.server_url }}/${{ github.repository }}/suites/${{ github.run_id }}/artifacts`
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}


  mobile-tests:
    name: Mobile Tests
    runs-on: ubuntu-latest

    env:
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Allure
      run: |
        sudo apt-get update
        sudo apt-get install -y allure

    - name: Run Mobile Tests
      run: |
        pytest -v tests/mobile_tests --alluredir=reports/allure-results --run_on=browserstack

    - name: Generate Mobile Allure Report
      run: |
        allure generate reports/allure-results -o reports/allure-report --clean

    - name: Upload Mobile Allure Report
      uses: actions/upload-artifact@v4
      with:
        name: mobile-tests-allure-report
        path: reports/allure-report

    - name: Notify Slack
      if: always()
      uses: slackapi/slack-github-action@v2.1.1
      with:
        channel-id: 'C0A1U93R4LU'   #Slack Channel ID
        text: |
          *DIMAGI Automation Suite - Mobile Tests*
          *Job:* `${{ job.name }}`
          *Workflow:* `${{ github.workflow }}`
          *Repository:* `${{ github.repository }}`
          *Branch:* `${{ github.ref_name }}`
          
          *Status:* `${{ job.status }}`
          
          *Download Allure Report:* `${{ github.server_url }}/${{ github.repository }}/suites/${{ github.run_id }}/artifacts`
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}